<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>common</title>
</head>
<body>
<header>
  <h2 class="logo">BTPlanner</h2>
  <nav class="navigation">
    <button class="btnRegister-popup" onclick="window.location.href='/register';">Register</button>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Service</a>
    <a href="#">Contacts</a>
    <button class="btnLogin-popup" onclick="window.location.href='/login';">Login</button>
  </nav>
</header>
</body>
</html>