<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/Old/style-register.css">
    <title>Register</title>
</head>
<body>
<header th:replace="~{fragments/common::header}"></header>
<div class="wrapper">
    <div class="form-box register">
    <h2>Registration</h2>
    <form th:action="@{/register}" th:method="post" th:object="${registerDTO}">
        <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" name="email" th:field="*{email}" th:errorclass="is-invalid">
            <small class="text-danger invalid-feedback"><div th:each="error : ${#fields.errors('email')}" th:text="${error}"/></small>
            <label>Email</label>
        </div>
        <div class="input-box">
            <span class="icon"><ion-icon name="person"></ion-icon></span>
            <input type="text" name="username" th:field="*{username}" th:errorclass="is-invalid">
            <small class="text-danger invalid-feedback"><div th:each="error : ${#fields.errors('username')}" th:text="${error}"/></small>
            <label>Username</label>
        </div>
        <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" name="password" th:field="*{password}" th:errorclass="is-invalid">
            <small class="text-danger invalid-feedback"><div th:each="error : ${#fields.errors('password')}" th:text="${error}"/></small>
            <label>Password</label>
        </div>
        <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" name="confirmPassword" th:field="*{confirmPassword}" th:errorclass="is-invalid">
            <small class="text-danger invalid-feedback"><div th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"/></small>
            <label>Confirm Password</label>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">I agree to the terms & conditions</input></label>
        </div>
        <button type="submit" class="btn">Register</button>
        <div class="login-register">
            <p>Already have an account? <a th:href="@{/login}" class="login-link">Login</a></p>
        </div>
    </form>
</div>
</div>

</body>
</html>