<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
  <div class="row text-center align-items-center justify-content-center">
    <div class="col-6 bg-secondary border border-2 border-black rounded rounded-2 bg-opacity-75">
      <h1 class="display-1 text-white">Holey moley! This really sucks!</h1>
      <img class="w-100" src="/images/error-404-logo-svg-vector.svg" alt="map-img">
      <h1 class="h1 text-white">We are sorry, it looks like the page you`re looking for isn`t in our system. <a class="h1 text-decoration-none text-info" th:href="@{/home}">Head back to Home!</a></h1>
    </div>
    <div class="col-7 text-center align-items-center">
    </div>
  </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
