<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Activate Users</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container border border-white border-2 p-3 bg-black bg-opacity-50 rounded-5 position-absolute top-50 start-50 translate-middle" style="backdrop-filter: blur(3px)">
  <p class="display-3 mb-5 justify-content-center text-white text-center fw-bold align-content-center text-decoration-underline">Activate Users</p>
    <table class="table table-hover caption-top">
        <caption class="text-white">List of users</caption>
        <thead class="table-light">
            <tr>
                <td class="border border-2 border-dark border-start-0 text-center">ID</td>
                <td class="border border-2 border-dark text-center">First Name</td>
                <td class="border border-2 border-dark text-center">Last Name</td>
                <td class="border border-2 border-dark text-center">Username</td>
                <td class="border border-2 border-dark text-center">Email</td>
                <td class="border border-2 border-dark text-center border-end-0">Delete</td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr class="table-dark">
            <td class="border border-white">1</td>
            <td class="border border-white">Stilyan</td>
            <td class="border border-white">Petrov</td>
            <td class="border border-white">D00ktora</td>
            <td class="border border-white">f.and.g.2019@gmail.com</td>
            <td class="border border-white text-center"><button type="submit" class="btn btn-outline-light w-50">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
