<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Motorcycle</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container p-3 bg-black bg-opacity-50 border border-white border-2 rounded-5 position-absolute top-50 start-50 translate-middle" style="backdrop-filter: blur(3px)">
  <div class="row justify-content-center align-self-auto">
    <div class="col-12">
      <p class="display-3 text-center text-white fw-bold mb-4 text-decoration-underline">Add Motorcycle</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 me-2 text-white" th:object="${motorcycles}">
      <div class="row border border-white border-2 rounded-4 align-self-center mb-2">
        <div class="col-12 text-center">
          <p class="h1" th:text="${userInfo.username}">UserName</p>
        </div>
      </div>
      <div class="row border border-white border-2 rounded-4 align-self-center">
        <div class="col-12 justify-content-center align-items-center text-center">
          <div class="d-grid gap-1 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile" role="button">PROFILE</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">PROFILE</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/edit" role="button">EDIT PROFILE</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">EDIT PROFILE</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/motorcycle" role="button">ADD MOTORCYCLE</a>
<!--            <button class="btn btn-outline-light btn-lg text-wrap m-2" type="button">ADD MOTORCYCLE</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/change-password" role="button">CHANGE PASSWORD</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">CHANGE PASSWORD</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/change-email" role="button">CHANGE EMAIL</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">CHANGE EMAIL</button>-->
          </div>
        </div>
      </div>
    </div>
      <div class="col-12 col-md-7 text-white border border-2 border-white rounded-4">
      <div class="row mb-2 mb-md-5">
        <div class="col-12">
          <p class="h1 text-center fw-bolder mt-4">Choose Motorcycle</p>
        </div>
      </div>
      <form th:action="@{/users/profile/motorcycle}"
            th:method="post"
            th:object="${motorcycleDTO}">
        <select class="form-select form-select-lg mb-3" th:field="${motorcycleDTO.producer}" aria-label="Large select example">
          <option th:each="motor : ${motorcycles.motorcyclesDTOList}"
                  th:text="${motor.info()}"
                  th:value="${motor.info()}"
                  th:selected="${motor.info()} == *{info()}"> Transmission type
          </option>
      </select>
          <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-light btn-lg w-100 mb-3">Save</button>
          </div>
        </div>
      </form>
      <a class="btn btn-outline-light btn-lg w-100 mb-3" href="/create/motorcycle" role="button">Create Motorcycle</a>
<!--      <button type="button" class="btn btn-outline-light btn-lg w-100 mb-3">Create Motorcycle</button>-->
    </div>
  </div>
</div>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
