<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Motorcycle</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<form>
  <div class="container border border-white border-2 p-3 bg-black bg-opacity-50 rounded-5 position-absolute top-50 start-50 translate-middle" style="backdrop-filter: blur(3px)">
    <div class="row mt-4">
      <div class="col">
        <p class="display-3 mb-5 justify-content-center text-white text-center fw-bold align-content-center text-decoration-underline">Create Motorcycle</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Producer</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="producer" placeholder="Producer">
            <label for="producer">Producer</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Model</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="model" placeholder="Model">
            <label for="model">Model</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Cubic Liters</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="cubicLiters" placeholder="Cubic Liters">
            <label for="cubicLiters">Cubic Liters</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Production Date</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="productionDate" placeholder="Production Date">
            <label for="productionDate">Production Date</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Fuel Consumption</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="fuelConsumption" placeholder="Fuel Consumption">
            <label for="fuelConsumption">Fuel Consumption</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Fuel Capacity</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="fuelCapacity" placeholder="Fuel Capacity">
            <label for="fuelCapacity">Fuel Capacity</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Front Tire</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="frontTire" placeholder="Front Tire">
            <label for="frontTire">Front Tire</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Rear Tire</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="rearTire" placeholder="Rear Tire">
            <label for="rearTire">Rear Tire</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text col-4 bg-dark text-white fw-bolder justify-content-center">Transmission</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="transmission" placeholder="Transmission">
            <label for="transmission">Transmission</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center text-center mb-3">
      <div class="col-12 col-md-10 col-lg-6">
        <button type="submit" class="btn btn-outline-light btn-lg w-75 fw-bolder">Submit</button>
      </div>
    </div>
  </div>
</form>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
