<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Profile</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<!-- Modal -->
<div class="modal" tabindex="-1" id="myModal">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="the-submit" class="btn btn-primary"
                onclick="document.getElementById('finish').click()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container border border-white border-2 p-3 bg-black bg-opacity-50 rounded-5 position-absolute top-50 start-50 translate-middle" style="backdrop-filter: blur(3px)">
  <div class="row justify-content-center align-self-auto">
    <div class="col-12">
      <p class="display-3 text-center text-white fw-bold mb-4 text-decoration-underline">Edit Profile</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 me-2 text-white">
      <div class="row border border-white border-2 rounded-4 align-self-center mb-2">
        <div class="col-12 text-center">
          <p class="h1" th:text="${userInfo.username}">UserName</p>
        </div>
      </div>
      <div class="row border border-white border-2 rounded-4 align-self-center">
        <div class="col-12 justify-content-center align-items-center text-center">
          <div class="d-grid gap-1 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile" role="button">PROFILE</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">PROFILE</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/edit" role="button">EDIT PROFILE</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">EDIT PROFILE</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/motorcycle" role="button">ADD MOTORCYCLE</a>
<!--            <button class="btn btn-outline-light btn-lg text-wrap m-2" type="button">ADD MOTORCYCLE</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/change-password" role="button">CHANGE PASSWORD</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">CHANGE PASSWORD</button>-->
          </div>
          <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/change-email" role="button">CHANGE EMAIL</a>
<!--            <button class="btn btn-outline-light btn-lg m-2" type="button">CHANGE EMAIL</button>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 text-white border border-2 border-white rounded-4">
      <form id="the-form"
            th:action="@{/users/profile/edit}"
            th:method="post"
            th:object="${editProfileDTO}">
        <div class="row">
          <div class="col-12">
            <p class="h1 text-center fw-bolder mt-4">Edit Profile</p>
          </div>
        </div>
        <div class="row mb-4 mt-4">
          <div class="col-12">
            <div class="row">
              <div class="col">
                <label for="username" class="form-label h4">Username</label>
                <input type="text" name="username" th:field="*{username}" th:errorclass="is-invalid" class="form-control" placeholder="Username" aria-label="Username" id="username">
                <div class="invalid-feedback errors alert alert-danger">
                  <div
                          th:each="error : ${#fields.errors('username')}"
                          th:text="${error}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4 mt-4">
          <div class="col-12">
            <div class="row">
              <div class="col">
                <label for="firstName" class="form-label h4">First Name</label>
                <input type="text" name="firstName" th:field="*{firstName}" th:errorclass="is-invalid" class="form-control" placeholder="First Name" aria-label="First Name" id="firstName">
                <div class="invalid-feedback errors alert alert-danger">
                  <div
                          th:each="error : ${#fields.errors('firstName')}"
                          th:text="${error}"/>
                </div>
              </div>
              <div class="col">
                <label for="lastName" class="form-label h4">Last Name</label>
                <input type="text" name="lastName" th:field="*{lastName}" th:errorclass="is-invalid" class="form-control" placeholder="Last Name" aria-label="Last Name" id="lastName">
                <div class="invalid-feedback errors alert alert-danger">
                  <div
                          th:each="error : ${#fields.errors('lastName')}"
                          th:text="${error}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4 bt-4">
          <div class="col-12">
            <div class="row">
              <div class="col">
                <label for="country" class="form-label h4">Country</label>
                <input type="text" name="country" th:field="*{country}" class="form-control" placeholder="Country" aria-label="Country" id="country">
              </div>
              <div class="col">
                <label for="address" class="form-label h4">Address</label>
                <input type="text" name="address" th:field="*{address}" class="form-control" placeholder="Address" aria-label="address" id="address">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-outline-light btn-lg w-50 mb-3" data-bs-toggle="modal" data-bs-target="#myModal">Save</button>
            <button type="submit" id="finish" class="d-none btn btn-outline-light btn-lg w-50 mb-3" data-bs-toggle="modal" data-bs-target="#myModal">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
