<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container mt-5 justify-content-center align-items-center">
  <div class="row bg-light rounded rounded-5 opacity-75 border border-2 border-black">
    <div class="col-12">
      <h1 class="display-1 text-center text-black">
        Creat your dream travel with us
      </h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-6 bg-black rounded-5 bg-opacity-50 border border-2" style="backdrop-filter: blur(3px)">
      <figure class="text-center text-white mt-5">
        <blockquote class="blockquote">
          <p class="h1">You'll never travel without our trip planner again</p>
        </blockquote>
        <figcaption class="h2 text-start text-white">
          - Build, organize, and map your trip in a free travel app designed for vacations & road trips
        </figcaption>
      </figure>
    </div>
    <div class="col-6 d-none d-sm-none d-lg-block">
      <img class="img-fluid rounded rounded-circle border border-2 border-white" src="/img/img.png" alt="map-img">
    </div>
  </div>
  <div class="row mt-5 mb-5 align-items-center justify-content-center text-center">
    <div class="col-12">
      <a class="btn btn-secondary btn-outline-light btn-lg w-50" href="/trip" role="button">Start Now</a>
<!--      <button type="submit" class="btn btn-secondary btn-outline-light btn-lg w-50">Start Now</button>-->
    </div>
  </div>
  <div class="row mt-5 align-items-center justify-content-center text-center">
    <div class="col">
      <p class="display-3 text-white">
        Choose one of most popular travel path`s!
      </p>
    </div>
  </div>
  <div class="row pb-5 pt-3">



    <div id="TopLocations" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#TopLocations" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#TopLocations" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#TopLocations" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner rounded rounded-5 border border-white border-5">
        <div class="carousel-item active" data-bs-interval="6000">
          <img src="/img/img.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50 rounded rounded-4">
            <h5>First slide label</h5>
            <a href="" class="link-offset-1-hover link-light">Some representative placeholder content for the first slide.</a>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="/img/img.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50 rounded rounded-4">
            <h5>Second slide label</h5>
            <a href="" class="link-offset-1-hover link-light">Some representative placeholder content for the first slide.</a>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="/img/img.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50 rounded rounded-4">
            <h5>Third slide label</h5>
            <a href="" class="link-offset-1-hover link-light">Some representative placeholder content for the first slide.</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#TopLocations" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#TopLocations" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
