<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href=../static/logo.png>
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style-index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <nav class="topNav">
        <img src="../static/logo.png" alt="" class="logo">
        <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">HELP</a></li>
            <li><a href="#">CREATE ACCOUNT</a></li>
            <li>
                <button class="btn">Login</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <sec>
        <div class="title">
        <h1>Plan Your Trip With Us</h1>
        </div>
    </sec>
</main>
<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact Up</a></li>
                <li><a href="">Our Team</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBott">
        <p>&copy;Copyright 2023 Design By <span class="designer">Stilyan Petrov</span></p>
    </div>
</footer>
</body>
</html>