<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
  <div class="row text-center align-items-center justify-content-center">
    <div class="col-6 bg-secondary border border-2 border-black rounded rounded-2">
      <h1 class="h1 text-white">Something is technically wrong that`s why you are not able to logged in.</h1>
      <h1 class="h1 text-white">Why don`t try again?. This time it`s will gona work :) </h1>
      <h5 class="h5 text-danger">Check if you verify your account. </h5>
    </div>
    <div class="col-7 text-center align-items-center">
      <img class="w-100" src="/images/palm-recognition.svg" alt="map-img">
    </div>
  </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
