<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/motorcycle-edit.css">
    <title>Profile Edit</title>
</head>
<body>
<header th:replace="~{fragments/common::header}"></header>

<div id="doc" class="yui-t2">
    <div id="hd">
        <div id="header" class="profile-header">
            <h1>Edit Motorcycle</h1>
        </div>

    </div>
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div class="content">
                    <form class="form-box" th:method="post" th:action="@{/users/profile/edit}">
                        <div class="input-box">
                            <div>
                                <label for="made" class="h4 mb-2 text-white">Made</label>
                                <select class="form-select show-tick" id="made" name="made">
                                    <option value="">- Select Motorcycle Producer -</option>
                                    <option th:each="made : ${T(bg.BulgariaTripPlanner.model.enums.Made).values()}"
                                            th:text="${made.value}"
                                            th:value="${made.value}"
                                            >
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label for="model" class="h4 mb-2 text-white">Model</label>
                                <input type="text" class="form-control" id="model" name="model"/>
                            </div>
                            <div>
                                <label for="year" class="h4 mb-2 text-white">Year</label>
                                <input type="date" class="form-control" id="year" name="year"/>
                            </div>
                        </div>
                        <div class="input-box">
                            <div>
                                <label for="cubicLiters" class="h4 mb-2 text-white">Cubic Liters</label>
                                <input type="number" class="form-control" id="cubicLiters" name="cubicLiters"/>
                            </div>
                            <div>
                                <label for="fuelTankCapacity" class="h4 mb-2 text-white">Fuel Capacity</label>
                                <input type="number" class="form-control" id="fuelTankCapacity" name="fuelTankCapacity"/>
                            </div>
                            <div>
                                <label for="fuelConsumption" class="h4 mb-2 text-white">Fuel Consumption</label>
                                <input type="number" class="form-control" id="fuelConsumption" name="fuelConsumption"/>
                            </div>
                        </div>
                        <div class="input-box">
                            <div>
                                <label for="frontTireWidth" class="h4 mb-2 text-white">Front Tire Width</label>
                                <input type="number" class="form-control" id="frontTireWidth" name="frontTireWidth"/>
                            </div>
                            <div>
                                <label for="frontTireAspectRatio" class="h4 mb-2 text-white">Front Tire Aspect Ratio</label>
                                <input type="number" class="form-control" id="frontTireAspectRatio" name="frontTireAspectRatio"/>
                            </div>
                            <div>
                                <label for="frontTireDiameter" class="h4 mb-2 text-white">Front Tire Diameter</label>
                                <input type="number" class="form-control" id="frontTireDiameter" name="frontTireDiameter"/>
                            </div>
                        </div>
                        <div class="input-box">
                            <div>
                                <label for="rearTireWidth" class="h4 mb-2 text-white">Rear Tire Width</label>
                                <input type="number" class="form-control" id="rearTireWidth" name="rearTireWidth"/>
                            </div>
                            <div>
                                <label for="rearTireAspectRatio" class="h4 mb-2 text-white">Rear Tire Aspect Ratio</label>
                                <input type="number" class="form-control" id="rearTireAspectRatio" name="rearTireAspectRatio"/>
                            </div>
                            <div>
                                <label for="rearTireDiameter" class="h4 mb-2 text-white">Rear Tire Diameter</label>
                                <input type="number" class="form-control" id="rearTireDiameter" name="rearTireDiameter"/>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="last-div">
                                <label for="transmission" class="h4 mb-2 text-white">Transmission</label>
                                <input type="text" class="form-control" id="transmission" name="transmission"/>
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="yui-b">
            <div id="secondary">
                <h1>Nqkakvo si ime tam po dylgo</h1>
                <img id="image" class="mt-4" src="/E47AA83B-59F7-4297-9817-FFC166D99CA1_1_105_c.jpeg">
            </div>
            <div id="secondary2">
                <a th:href="@{/users/profile}">PROFILE</a>
                <a th:href="@{/users/profile/edit}">EDIT PROFILE</a>
                <a th:href="@{/users/profile/motorcycle}">EDIT MOTORCYCLE</a>
                <a href="#">CHANGE PASSWORD</a>
                <a href="#">CHANGE EMAIL</a>
            </div>
    </div>
    </div>
</div>
</body>
</html>