<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/user-profile.css">
    <title>Profile Edit</title>
</head>
<body>
<header th:replace="~{fragments/common::header}"></header>

<div id="doc" class="yui-t2">
    <div id="hd">
        <div id="header" class="profile-header">
            <h1>Edit Profile</h1>
        </div>

    </div>
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div class="content">
                    <form class="form-box" th:method="post" th:action="@{/users/profile/edit}">
                        <div class="input-box">
                            <label for="username" class="h4 mb-2 text-white">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
                        </div>
                        <div class="input-box">
                            <label for="firstName" class="h4 mb-2 text-white">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"/>
                        </div>
                        <div class="input-box">
                            <label for="lastName" class="h4 mb-2 text-white">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"/>
                        </div>
                        <div class="input-box">
                            <label for="email" class="h4 mb-2 text-white">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
                        </div>
                        <div class="input-box">
                            <label for="Country" class="h4 mb-2 text-white">Country</label>
                            <input type="text" class="form-control" id="Country" name="country" placeholder="Country"/>
                        </div>

                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="yui-b">
            <div id="secondary">
                <h1>Nqkakvo si ime tam po dylgo</h1>
                <img id="image" class="mt-4" src="/E47AA83B-59F7-4297-9817-FFC166D99CA1_1_105_c.jpeg">
            </div>
            <div id="secondary2">
                <a th:href="@{/users/profile}">PROFILE</a>
                <a th:href="@{/users/profile/edit}">EDIT PROFILE</a>
                <a href="#">EDIT MOTORCYCLE</a>
                <a href="#">CHANGE PASSWORD</a>
                <a href="#">CHANGE EMAIL</a>
            </div>
    </div>
    </div>
</div>
</body>
</html>