<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<form>
  <div class="container border border-white border-2 p-3 bg-black bg-opacity-50 rounded-5 position-absolute top-50 start-50 translate-middle" style="backdrop-filter: blur(3px)">
    <div class="row mt-4">
      <div class="col">
        <p class="display-3 mb-5 justify-content-center text-white text-center fw-bold align-content-center text-decoration-underline">Register</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
          <span class="input-group-text col-3 bg-dark text-white fw-bolder justify-content-center">Username</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
            <label for="floatingInputGroup1">Username</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
          <span class="input-group-text col-3 bg-dark text-white fw-bolder justify-content-center">Email</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup2" placeholder="Email">
            <label for="floatingInputGroup2">Email</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
          <span class="input-group-text col-3 bg-dark text-white fw-bolder justify-content-center">Password</span>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingInputGroup3" placeholder="Password">
            <label for="floatingInputGroup3">Password</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
          <span class="input-group-text col-3 bg-dark text-white fw-bolder justify-content-center align-items-center text-wrap">Confirm Password</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup4" placeholder="Confirm Password">
            <label for="floatingInputGroup4">Confirm Password</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center text-center mb-3">
      <div class="col-12 col-md-8">
        <button type="submit" class="btn btn-outline-light btn-lg w-50">Register</button>
      </div>
    </div>
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12 col-md-8 text-white fw-bolder">
        Already have an account? <a class="link-light" href="#">Login</a>
      </div>
    </div>
  </div>
</form>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
