<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container border border-white border-2 p-3 bg-black bg-opacity-50 rounded-5 position-absolute top-50 start-50 translate-middle" style="backdrop-filter: blur(3px)">
  <div class="row justify-content-center align-self-auto">
    <div class="col-12">
      <p class="display-3 text-center text-white fw-bold mb-4 text-decoration-underline">Profile</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 me-2 text-white">
      <div class="row border border-white border-2 rounded-4 align-self-center mb-2">
        <div class="col-12 text-center">
          <p class="h1" th:text="${userInfo.username}">UserName</p>
        </div>
      </div>
      <div class="row border border-white border-2 rounded-4 align-self-center">
      <div class="col-12 justify-content-center align-items-center text-center">
        <div class="d-grid gap-1 mx-auto">
          <a class="btn btn-outline-light btn-lg m-2" href="/users/profile" role="button">PROFILE</a>
<!--          <button class="btn btn-outline-light btn-lg m-2" aria-current="page" href="/users/profile">PROFILE</button>-->
        </div>
        <div class="d-grid gap-1 col-12 mx-auto">
          <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/edit" role="button">EDIT PROFILE</a>
<!--          <button class="btn btn-outline-light btn-lg m-2" aria-current="page" href="/users/profile/edit">EDIT PROFILE</button>-->
        </div>
        <div class="d-grid gap-1 col-12 mx-auto">
          <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/motorcycle" role="button">ADD MOTORCYCLE</a>
<!--          <button class="btn btn-outline-light btn-lg text-wrap m-2" type="button" href="#">ADD MOTORCYCLE</button>-->
        </div>
        <div class="d-grid gap-1 col-12 mx-auto">
          <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/change-password" role="button">CHANGE PASSWORD</a>
<!--          <button class="btn btn-outline-light btn-lg m-2" type="button" href="#">CHANGE PASSWORD</button>-->
        </div>
        <div class="d-grid gap-1 col-12 mx-auto">
          <a class="btn btn-outline-light btn-lg m-2" href="/users/profile/change-email" role="button">CHANGE EMAIL</a>
<!--          <button class="btn btn-outline-light btn-lg m-2" type="button" href="#">CHANGE EMAIL</button>-->
        </div>
      </div>
    </div>
    </div>
    <div class="col-12 col-md-7 text-white border border-2 border-white rounded-4">
      <div class="row">
        <div class="col-12">
          <p class="h1 text-center fw-bolder mt-4">Info</p>
        </div>
      </div>
      <div class="row m-3 mt-4">
        <div class="col-5 border border-top-0 border-bottom-0 border-start-0 justify-content-center">
          <p class="h5 text-white-50 text-end justify-content-center text-decoration-underline">Full Name</p>
        </div>
        <div class="col-7">
          <p class="h5" th:text="${userInfo.fullName()}">Stilyan Petrov</p>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-5 border border-top-0 border-bottom-0 border-start-0 justify-content-center">
          <p class="h5 text-white-50 text-end justify-content-center text-decoration-underline">Country</p>
        </div>
        <div class="col-7">
          <p class="h5" th:if="${userInfo.country == null}" th:text="${userInfo.country}"></p>
          <p class="h5" th:unless="${userInfo.country == null}" th:text="${userInfo.country}"></p>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-5 border border-top-0 border-bottom-0 border-start-0 justify-content-center">
          <p class="h5 text-white-50 text-end justify-content-center text-decoration-underline">Address</p>
        </div>
        <div class="col-7">
          <p class="h5" th:if="${userInfo.address == null}" th:text="${userInfo.address}"></p>
          <p class="h5" th:unless="${userInfo.address == null}" th:text="${userInfo.address}"></p>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-5 border border-top-0 border-bottom-0 border-start-0 justify-content-center">
          <p class="h5 text-white-50 text-end justify-content-center text-decoration-underline">Motorcycle</p>
        </div>
        <div class="col-7">
          <p class="h5" th:if="${userInfo.getMotorcycle() == null}" th:text="${userInfo.getMotorcycle()}">Suziku</p>
          <p class="h5" th:unless="${userInfo.getMotorcycle() == null}" th:text="${userInfo.getMotorcycle().info()}">Suziku</p>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-5 border border-top-0 border-bottom-0 border-start-0 justify-content-center">
          <p class="h5 text-white-50 text-end justify-content-center text-decoration-underline">Level</p>
        </div>
        <div class="col-7">
          <p class="h5" th:if="${userInfo.level == null}" th:text="${userInfo.level}"></p>
          <p class="h5" th:unless="${userInfo.level == null}" th:text="${userInfo.level}"></p>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-5 border border-top-0 border-bottom-0 border-start-0 justify-content-center">
          <p class="h5 text-white-50 text-end justify-content-center text-decoration-underline">Trips Count</p>
        </div>
        <div class="col-7">
          <p class="h5" th:if="${userInfo.tripCount == null}" th:text="${userInfo.tripCount}"></p>
          <p class="h5" th:unless="${userInfo.tripCount == null}" th:text="${userInfo.tripCount}"></p>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/imageImport.js"></script>
</body>
</html>
