<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container mt-5">
    <div class="row" th:object="${dailyForecast}">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-secondary">
                <div class="card-body text-white">
                    <h2 class="card-title">Weather Information</h2>
                    <h5 class="h5">City : Ruse</h5>
                    <h5 class="h5">Date : <span th:text="*{dateOfCheck.toLocalDate()}"/></h5>
                    <h5 class="h5">Current Min. Temperature <i class="bi bi-thermometer-snow"></i> : <span th:text="*{tempMin}"/> &deg;C</h5>
                    <h5 class="h5">Current Max. Temperature <i class="bi bi-thermometer-sun"></i> : <span th:text="*{tempMax}"/> &deg;C</h5>
                    <h5 class="h5">Description: <span th:text="*{text}"/></h5>
                    <h5 class="h5">Day Condition : <span th:text="*{dayCond}"/></h5>
                    <h5 class="h5">Night Condition : <span th:text="*{nightCond}"/></h5>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
